@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.body {
	background: #f3e0e2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

.h1 {
	height:50px;
	font-weight: bold;
	margin: 0;
}

.p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.span {
	font-size: 12px;
}

.a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.button1 {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



.button1 {
    transition-duration: 0.4s;
    background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  }
  
  .button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .Welcome1{

    margin-top: 10%;
    margin-left: 8%;
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  }
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
  }
  
  .log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 40%;
    width: 50%;
    height: 100%;
  }
  
  
  .overlay {
    background: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
  }
  .overlay-panel-right {
    margin-top: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
  }
  
  
  .overlay-right {
    right: 0;
  }
  
  
  
  
  .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 30px;
    width: 30px;
  }
  .body {
    background: #f3e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
  }
  .error{
    color:red;
  }
  .cardtable{

    margin-top: 10%;
    margin-left: 6%;
    background-color: #fff;
	  border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: center;
	overflow: hidden;
	width: 1350px;
	max-width: 100%;
	min-height: 500px;
  }
  .cardrow{

    margin-top: 4%;
    margin-left: 15%;
    background-color: #fff;
	  border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
	max-width: 100%;
	min-height: 200px;
  }
  .text td{
    float: left;
    color: #151515;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  *{
    box-sizing: border-box;
  }
  
  .table{
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size:16px;
  }
  
  .table th{
    background-color: black;
    color:#ffffff;
  }
  
  .table tbody tr:nth-child(even){
    background-color: #f5f5f5;
  }
  
  /*responsive*/
  
  @media(max-width: 500px){
    .table thead{
      display: none;
    }
  
    .table, .table tbody, .table tr, .table td{
      display: block;
      width: 100%;
    }
    .table tr{
      margin-bottom:15px;
    }
    .table td{
      text-align: right;
      padding-left: 50%;
      text-align: right;
      position: relative;
    }
    .table td::before{
      content: attr(data-label);
      position: absolute;
      left:0;
      width: 50%;
      padding-left:15px;
      font-size:15px;
      font-weight: bold;
      text-align: left;
    }
  }
  .textstyle {
    text-align: center;
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    }
  .theadstyle{
    color:#ffffff;
    background-color: #151515;
    font-weight: bold;
    font-size: 40px;
  }
  .backgrnd{
    
    background-image:url("D:\Mahesh\React prj\firstapp\public\bg-01.jpg");
    background-size: cover;
    width:1600px;
  }
  .bodystyle2 {
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image:url("D:\Mahesh\React prj\firstapp\public\bg-01.jpg");
  }